body {
    background-color: rgb(63, 55, 66);
    height: 1400px;
    width: 1400px;
    margin: auto;
}
.game {
    display: inline;
}
.board {
    height: 1200px;
    width: 1200px;
    display: grid;
    justify-content: center;
    align-content: center;
    margin-right: auto;
    margin: auto;
}

.row {
    display: flex;
}
.cell {
    display: flex;
    height: 125px;
    width: 125px;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.row:nth-child(2n) .cell:nth-child(2n+1) , .row:nth-child(2n+1) .cell:nth-child(2n){
    background-color: rgb(131, 16, 16);
}
img {
    height: 120px; 
    width: 120px; 
    margin: auto;
    
}

.nums {
    display: flex;
    flex-direction: row;
    font-size: 90px;
    font-family: 'Courier New', Courier, monospace;
    background-color: antiquewhite;
}

.buttons {
    display: flex;
    justify-content: center;
}
.winner_message {
    top: 300px;
    left: 100;
    position: absolute;
    height: 1000px;
    width: 1000px;
    font-size: 400px;
    margin: auto;
    display: none;
}
.winner_identity {
    position: absolute;
    top: 400px;
    left: 180px;
}
.new_game {
    position: absolute;
    top: 1000px;
    /* top: 500px; */
    left: 400px;
}

button {
    height: 80px;
    width: 300px;
    font-size: 40px;
}

img:hover {
    opacity: 60%;
}

.piece_choose {
    margin: auto;
    margin-bottom: -70px;
    height: 150px;
    width: 600px;
    border: 5px solid red;
    /* display: flex; */
    align-items: center;
    display: none;
}



